
    <div class="item">
        <img src="images/labrador.jpg" class="item--image" />
        <div class="item--name">Labrador-retriever</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/zwergspitz.jpg" class="item--image" />
        <div class="item--name">Zwergspitz</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="images/husky.jpg" class="item--image" />
        <div class="item--name">Husky Siberiano</div>
        <div class="item--color">Cor: Branco e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/golden.jpg" class="item--image" />
        <div class="item--name">Golden Retriever</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/poodle.jpg" class="item--image" />
        <div class="item--name">Poodle</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="images/bulldog.jpg" class="item--image" />
        <div class="item--name">Bulldog</div>
        <div class="item--color">Cor: Branco e Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/persa.jpg" class="item--image" />
        <div class="item--name">Persa</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/mainecoon.jpg" class="item--image" />
        <div class="item--name">Maine Coon</div>
        <div class="item--color">Cor: Preto e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/bengal.jpg" class="item--image" />
        <div class="item--name">Bengal</div>
        <div class="item--color">Cor: Branco, Preto e Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="images/siames.jpg" class="item--image" />
        <div class="item--name">Siamês</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/sphynx.jpg" class="item--image" />
        <div class="item--name">Sphynx</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/neon.jpg" class="item--image" />
        <div class="item--name">Tetra Neon</div>
        <div class="item--color">Cor: Vermelho e Azul</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/matogrosso.jpg" class="item--image" />
        <div class="item--name">Mato Grosso</div>
        <div class="item--color">Cor: Laranja</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/limpavidro.jpg" class="item--image" />
        <div class="item--name">Limpa Vidro</div>
        <div class="item--color">Cor: Verde e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/tanictis.jpg" class="item--image" />
        <div class="item--name">Tanictis</div>
        <div class="item--color">Cor: Vermelho</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/acara.jpg" class="item--image" />
        <div class="item--name">Acará Bandeira</div>
        <div class="item--color">Cor: Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>